.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.column-full,
.column-half {
  width: 100%;
}

.column-quarter {
  width: 25%;
}

.column-100 {
  width: 100%;
  padding: 0;
  margin: 0;
}

.column-90 {
  width: 90%;
}

.column-10 {
  width: 10%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .overlay {
    align-items: center;
  }
}

li {
  margin: 20px 0;
}

h2 {
  margin-top: 10px;
}
