html,
body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header .container {
  padding: 5px 0;
  margin: 0 auto;
}

header {
  background-color: #562b81;
  color: white;
  font-size: 26px;
  padding: 10px 0;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.image-frame {
  height: 30vh;
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  margin: 0 0 15px;
}

textarea {
  height: 15vh;
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  margin: 0 0 15px;
  resize: none;
}

button.save {
  font-family: sans-serif;
  color: white;
  background-color: #562b81;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 7px 14px;
  text-align: end;
}

div.new {
  font-family: sans-serif;
  color: white;
  background-color: #562b81;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px 14px;
  height: 30px;
  margin: 0;
  width: 65px;
  cursor: pointer;
}

.modal-buttons {
  padding: 10px;
  font-family: sans-serif;
  padding-right: 25px;
}

.modal-text-div {
  margin: 30px 0 20px;
  padding: 0;
}

.cancel-button {
  color: #434343;
  font-weight: bold;
  background-color: #b6b6b6;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
  margin: 0;
  text-align: center;
  width: 80px;
  padding: 7px 8px;
  cursor: pointer;
}

.confirm-button {
  color: white;
  font-weight: bold;
  background-color: #dc2626;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
  margin: 0;
  width: 80px;
  padding: 7px 8px;
  cursor: pointer;
}

.modal-text {
  font-weight: bold;
  font-size: 15px;
}

.jc-space-between {
  justify-content: space-between;
}

.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

ul {
  width: 100%;
  padding: 0;
  margin 0 auto
}

li {
  list-style: none;
  line-height: 25px;
}

.inline {
  display: inline;
}

.ai-center {
  align-items: center;
}

.jc-flex-end {
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

.fa-pencil {
  color: #562b81;
}

i {
  cursor: pointer;
  margin: 20px;
}

.delete-button-text {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.653);
  display: flex;
  justify-content: center;
}

.modal {
  width: 300px;
  height: 135px;
  position: absolute;
  top: 40vh;
  background-color: white;
  border-radius: 5px;
}

.header-logo {
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.nav-item {
  font-size: 1rem;
  vertical-align: middle;
}
